@import './foundations';

// global and typography

body {
  color: $text-color;
  background-color: $background-color;
}
h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  &:link,
  &:visited {
    color: $logo-red;
  }
  &:hover {
    color: $logo-pink;
  }
}

div.container {
  margin: 0 auto;
  padding: 0 20px;
}
