@import './foundations';

.site-header {
  border-bottom: 2px solid #999;
}

.test {
  color: green;
}

.site-nav {
  display: flex;
  justify-content: flex-start;

  ul {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;

    li {
      a {
        &:link,
        &:visited {
          margin-right: 10px;
          color: #666666;
          font-weight: 500;
          text-transform: uppercase;
        }
        &:hover {
          color: #444444;
          font-weight: 500;
        }
      }
    }
  }

  .parent-link {
    a {
      &:link,
      &:visited {
        margin-right: 10px;
        color: #666666;
        font-weight: 500;
        text-transform: uppercase;
      }
      &:hover {
        color: #444444;
        font-weight: 500;
      }
    }
  }
}
