/*colors*/
.site-header {
  width: 100%;
}

.nav-logo {
  height: 2.5rem;
}

.site-nav {
  display: flex;
  align-items: center;
  height: 5rem;
  justify-content: space-between;
}

.site-nav ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.site-nav ul li a:link, .site-nav ul li a:visited {
  margin-right: 10px;
  color: #ca7482;
  font-weight: 500;
  font-size: 1.3rem;
  background-color: #fffcf5;
  border-radius: 10px;
  border: 0.5rem #fffcf5 solid;
  margin: 1.5rem;
  font-family: "josefin-slab", serif;
  text-transform: uppercase;
}

.site-nav ul li a:hover {
  color: #fffcf5;
  font-weight: 500;
  background-color: #ca7482;
  border: 0.6rem #ca7482 solid;
  border: 0.6rem #ca7482 solid;
  transition: 0.2s linear;
}

.site-nav .parent-link a:link, .site-nav .parent-link a:visited {
  margin-right: 10px;
  color: #666666;
  font-weight: 500;
  text-transform: uppercase;
}

.site-nav .parent-link a:hover {
  color: #444444;
  font-weight: 500;
}
