@import './foundations';

.site-header {
  position: fixed;
  width: 100%;
  top: 1rem;
  display: flex;
  z-index: 99;
}

.nav-logo {
  height: 2.5rem;
  margin-left: 1rem;
}

#menu-mobile-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.site-nav {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 85%;
  z-index: 99;
  justify-content: space-between;

  ul {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;

    li {
      a {
        &:link,
        &:visited {
          margin-right: 10px;
          color: $logo-pink;
          font-weight: 600;
          font-size: 1.3rem;
          background-color: $background-color;
          border-radius: 10px;
          border: 0.5rem $background-color solid;
          margin: 1.5rem;
          font-family: $family-josefin-slab;
          text-transform: uppercase;
        }

        &:hover {
          color: $background-color;
          background-color: $logo-pink;
          border: 0.5rem $logo-pink solid;
          transition: 0.2s linear;
        }
      }
    }
  }

  .parent-link {
    a {
      &:link,
      &:visited {
        margin-right: 10px;
        color: #666666;
        font-weight: 500;
        text-transform: uppercase;
      }
      &:hover {
        color: #444444;
        font-weight: 500;
      }
    }
  }
}

.mobile-nav-container {
  display: none;
}

.toggle-nav-icon {
  display: none;
}

.find-us-wrapper {
  background-color: $accent-blue;
  width: 8%;
  height: 100vh;
  text-orientation: sideways;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  position: absolute;
  position: fixed;
  z-index: 5;
  // transform: translate(171vh,-4vh);
}

.find-us-banner {
  writing-mode: vertical-rl;
  font-family: $family-josefin-slab;
  font-weight: 800;
  font-size: 3rem;
  color: whitesmoke;
  margin: 0;
}

$speed: 10s;

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;

  &:hover &__item {
    animation-play-state: paused;
  }

  &__item {
    display: inline-block;
    will-change: transform;
    margin: 1.5rem;
    animation: marquee $speed linear infinite;
  }
}

.social-icons {
  position: absolute;
  bottom: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 10vh;
  height: 17vh;
  z-index:99;
}

.fab {
  margin: 1rem;
  font-size: 2.5rem;
  color: $logo-pink;
  z-index: 99;
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

// Tablet

@media (min-width: 768px) and (max-width: 1024px) {
  #wpadminbar {
    display: none !important;
  }

  .site-header {
    top: 0;
  }

  .mobile-nav-container {
    width: 100%;
    height: 100vh;
    background-color: $light-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 98;
    top: 0;

    .menu-item a {
      font-family: $family-josefin-slab;
      font-size: 3rem;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .nav-logo {
    height: 3.5rem;
    margin-left: 1vh;
    z-index: 30;
    margin: 1rem !important;
    margin-top: 2.5rem !important;
  }

  .site-nav {
    height: 3.5rem;
    width: 95%;
  }

  .toggle-nav-icon {
    display: inline-block;
    font-size: 3rem;
    transition: color linear 0.15s;
    background-color: $background-color;
    border: 4px $background-color solid;
    border-radius: 8px;
    z-index: 80;
    margin-top: 2.5rem !important;
  }

  .nav-menu {
    display: none;
  }

  .menu-mobile-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  #menu-mobile-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
  }

  #menu-item-39,
  #menu-item-40,
  #menu-item-41,
  #menu-item-42 {
    margin: 2rem;
  }

  .find-us-wrapper {
    display: none;
  }

  .social-icons-mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 20vh;
    height: 9vh;
    margin-left: 1rem;
  }

  .social-icons {
    display: none;
  }

  .fab {
    font-size: 3.5rem;
    margin: 1rem;
    color: $logo-pink;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  #wpadminbar {
    display: none !important;
  }

  .site-header {
    top: 0;
  }

  .mobile-nav-container {
    width: 100%;
    height: 100vh;
    background-color: $light-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 98;
    top: 0;

    .menu-item a {
      font-family: $family-josefin-slab;
      font-size: 1.8rem;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .nav-logo {
    height: 2rem;
    margin-left: 1vh;
    z-index: 30;
  }

  .site-nav {
    height: 3.5rem;
    width: 95%;
  }

  .toggle-nav-icon {
    display: inline-block;
    font-size: 1.7rem;
    transition: color linear 0.15s;
    background-color: $background-color;
    border: 4px $background-color solid;
    border-radius: 8px;
    z-index: 80;
  }

  .nav-menu {
    display: none;
  }

  .menu-mobile-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  #menu-mobile-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    text-align: center;
  }

  #menu-item-39,
  #menu-item-40,
  #menu-item-41,
  #menu-item-42 {
    margin: 1rem;
  }

  .find-us-wrapper {
    display: none;
  }

  .social-icons-mobile {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    left: 0;
    position: fixed;
    width: 20vh;
    height: 7vh;
    margin-left: 1rem;
  }

  .social-icons {
    display: none;
  }

  .fab {
    font-size: 2.3rem;
    color: $logo-pink;
  }
}
