@import './foundations';

.site-header {
  width:100%;
}

.nav-logo {
	height:2.5rem;
}

.site-nav {
  display: flex;
  align-items: center;
  height:5rem;
  justify-content:space-between;

  ul {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
	  display: flex;
    justify-content:space-evenly;

    li {
      a {
        &:link,
        &:visited {
		      margin-right: 10px;
          color:$logo-pink;
          font-weight: 500;
          font-size:1.3rem;
          background-color:$background-color;
          border-radius:10px;
          border:0.5rem $background-color solid;
          margin:1.5rem;
          font-family: $family-josefin-slab;
          text-transform: uppercase;
        }

        &:hover {
          color: $background-color;
          font-weight: 500;
          background-color: $logo-pink;
          border:0.5rem $logo-pink solid;
          transition: 0.2s linear;
        }

      }
    }
  }

  .parent-link {
    a {
      &:link,
      &:visited {
        margin-right: 10px;
        color: #666666;
        font-weight: 500;
        text-transform: uppercase;
      }
      &:hover {
        color: #444444;
        font-weight: 500;
      }
    }
  }
}
