@import './foundations';

.white-space {
  height: 15vh;
}

#sbi_load {
  font-family: 'josefin-slab', serif;
}

// first wrapper

.container {
  margin: 0;
  padding: 0;
}

.home-page-section {
  width: 100%;
  height: 108vh;
  padding: 0;
  margin: 0;
  display: flex;
}

.left-wrapper {
  width: 40%;
  height: 100%;

}


.right-wrapper {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-illu {
  margin: 10rem;
  width: 70%;
}

.olives-ornament {
  background-image: url('static-assets/svg/olives.svg');
  height: 400px;
  width: 60%;
  background-repeat: no-repeat;
  position: absolute;
  right: 20%;
  top: -3%;
}

// second wrapper
.info-page-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cheese-illu-wrapper {
  background-image: url('static-assets/svg/cheese-roll.svg');
  height: 300px;
  width: 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 105vh;
  left: 100px;
}

.circle-banner-1 {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  background-color: $accent-blue;
  right: 310px;
  top: 130vh;
  z-index: 80;
}

.circle-banner-2 {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  left: 280px;
  top: 155vh;
  position: absolute;
  background-color: $yellow-light;
  z-index: 87;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
}

.text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: $logo-red;
  font-size: 4rem;
  $family-bodoni: 'bodoni-urw', serif;
  z-index: 93;
}

p {
  color: $text-color;
  $family-cormorant-garamond: 'cormorant-garamond', serif;
  z-index: 89;
}

button {
  color: $background-color;
  font-weight: 600;
  font-size: 1.3rem;
  background-color: $logo-pink;
  border-radius: 10px;
  border: 0.7rem $logo-pink solid;
  margin-top: 1rem;
  font-family: $family-josefin-slab;
  text-transform: uppercase;
}

.illu-container {
  background-image: url('static-assets/svg/multi-element.svg');
  height: 250px;
  width: 40%;
  background-repeat: no-repeat;
  margin-top: 4rem;
}

// third wrapper

.video-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    margin: 1.5rem;
  }
}

.video-size-contoll {
  width: 80%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: 100%;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.insta__header {
  h2 {
    color: $logo-red;
    font-size: 4rem;
    font-weight: 900;
  }
}

.insta-feed {
  width: 80%;
  margin-right: 3rem;
}

.location-section {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-holder {
  width: 75%;
  height: 70vh;
  margin-right: 15vh;
}

.row {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    display: none;
  }
}

.content-wrapper {
  width: 33%;
  height: 100%;
}

.image1 {
  background-image: url('static-assets/outside-in.jpg');
  background-size: cover;
}

.graphic1 {
  background-color: $logo-pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.olives-illu {
  background-image: url('static-assets/svg/olives-2.svg');
  height: 200px;
  width: 65%;
  background-repeat: no-repeat;
}

.graphic2 {
  background-color: $accent-blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cheese-illu {
  background-image: url('static-assets/svg/cheese-2.svg');
  height: 200px;
  width: 65%;
  background-repeat: no-repeat;
}

.address {
  background-color: $yellow-light;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.address-info {
  width: 60%;
}

.text-holder {
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  color: $logo-pink;
  p {
    color: $logo-pink;
    font-family: $family-josefin-slab;
    font-size: 1.7rem;
    margin: 0.1rem;
  }
}

.contact-ico {
  font-size: 2.4rem;
  margin-right: 1rem;
}

.image2 {
  background-image: url('static-assets/ost-gift.png');
  background-size: cover;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .white-space {
    height: 10vh;
  }

  .home-page-section {
    flex-direction: column-reverse;
    height: 150vh;
  }

  .right-wrapper {
    width: 100%;
  }

  .home-illu {
    margin: 2rem;
    width: 80%;
  }

  .olives-ornament {
    right: 15%;
    top: 0%;
  }

  .left-wrapper {
    width: 100%;
  }

  .info-page-section {
    height: 70vh;
  }

  .cheese-illu-wrapper {
    height: 300px;
    width: 50%;
    top: 155vh;
    left: 45px;
  }

  .circle-banner-1 {
    height: 300px;
    width: 300px;
    right: 50vh;
    top: 190vh;
  }

  .circle-banner-2 {
    height: 170px;
    width: 170px;
    left: 55vh;
    top: 183vh;
  }

  .info-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-container {
    width: 80%;
  }

  h1 {
    font-size: 4.5rem;
  }

  p {
    text-align: center;
    font-size: 2rem;
  }

  button {
    font-size: 2rem;
  }

  .illu-container {
    width: 80%;
  }

  .video-section {
    h1 {
      margin: 0.5rem;
      margin-top: 10rem;
    }
  }

  .video-size-contoll {
    width: 90%;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    width: 100%;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .insta-feed {
    margin: 0;
    width: 92%;
  }

  .location-section {
    height: 80vh;
  }

  .content-holder {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .row {
    flex-direction: column;
    height: 100%;
    margin-bottom: 5rem;
    h1 {
      margin: 3rem;
      display: block;
    }
  }

  .mobile-switch {
    display: none;
  }

  .content-wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .image1 {
    display: none;
  }

  .image2 {
    display: none;
  }

  .address {
    display: none;
  }

  .text-holder {
    display: none;
  }

  .graphic1 {
    display: none;
  }

  .graphic2 {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
  .white-space {
    height: 10vh;
  }

  .home-page-section {
    flex-direction: column-reverse;
    height: 130vh;
  }

  .right-wrapper {
    width: 100%;
  }

  .home-illu {
    margin: 2rem;
    width: 80%;
  }

  .olives-ornament {
    right: 15%;
    top: 0.8%;
  }

  .left-wrapper {
    width: 100%;
  }

  .info-page-section {
    height: 100vh;
  }

  .cheese-illu-wrapper {
    height: 200px;
    width: 40%;
    top: 155vh;
    left: 45px;
  }

  .circle-banner-1 {
    height: 180px;
    width: 180px;
    right: 28vh;
    top: 200vh;
  }

  .circle-banner-2 {
    height: 140px;
    width: 140px;
    left: 30vh;
    top: 175vh;
  }

  .info-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-container {
    width: 80%;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    text-align: center;
  }

  .home__button__cta {
    font-size: 1rem;
    //border: 0.5rem $logo-pink solid;
    z-index: 93;
  }

  .illu-container {
    width: 80%;
  }

  .video-section {
    h1 {
      margin: 0.5rem;
      margin-bottom: 1rem;
    }
  }

  .insta-feed {
    margin: 0;
  }

  .location-section {
    height: 80vh;
  }

  .content-holder {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .row {
    flex-direction: column;
    height: 100%;
    margin-bottom: 5rem;
    h1 {
      margin: 2rem;
    }
  }

  .mobile-switch {
    display: none;
  }

  .content-wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .image1 {
    display: none;
  }

  .image2 {
    display: none;
  }

  .address {
    display: none;
  }

  .text-holder {
    display: none;
  }

  .graphic1 {
    display: none;
  }

  .graphic2 {
    display: none;
  }
}
