@import './foundations';
.news {
  width: 100%;
  margin: 0 auto;

  &__hero {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    z-index: 50;

    a {
      font-family: $family-cormorant-garamond;

      h2 {
        font-family: $family-bodoni;
      }
    }

    &__picture {
      width: 40%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__text {
      height: 100%;
      width: 60%;
      display: grid;
      place-items: center;

      h1 {
        color: $logo-red;
      }

      a {
        color: $text-color;
        font-size: 2rem;
        font-style: italic;
        font-weight: 100;
      }

      &__wrapper {
        background-color: $yellow-dark;
        width: 70%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: dotted medium $logo-red;

        &__recent_posts {
          display: block;
        }
      }
    }

    &__ornament1 {
      width: 40%;
      height: 40%;

      position: absolute;
      top: 0%;
      left: 20%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: scaleX(-1);
    }

    &__ornament2 {
      width: 30%;
      height: 30%;

      position: absolute;
      bottom: 5%;
      left: 0%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: scaleX(-1);
    }

    &__ornament3 {
      width: 100%;
      height: 6rem;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: scaleX(-1);
    }
  }

  button {
    background-color: $logo-pink;
    color: $background-color;
    font-family: $family-josefin-slab;
    font-size: 1.2rem;
    padding: 0.5em 1em;
    border-radius: 50px;
    border: none;
    cursor: pointer;
  }
}
.post {
  //width: 92%;
  display: flex;
  height: 87vh;
  margin: 3.3rem 8% 3.3rem 6rem;

  &__img {
    width: 50%;
    background-position: center;
    background-size: cover;
  }

  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em 6em;

    p {
      max-height: 50%;
      //   overflow-y: scroll;
      font-size: 1.2rem;
    }

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-style: italic;
    }

    &__date {
      font-size: 0.8em;
      font-weight: 100;
      font-style: italic;
      align-self: flex-start;
    }

    &__ornament {
      height: 20%;
      svg {
        height: 100%;
      }
      .cls-1 {
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 4px;
      }
    }
  }
}

.post:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.post:nth-of-type(3n + 1) {
  background-color: $yellow-dark;

  .cls-1 {
    stroke: $logo-red;
  }

  border: dotted medium $logo-red;
}

.post:nth-of-type(3n + 2) {
  background-color: $accent-blue;
  .cls-1 {
    stroke: $logo-pink;
  }

  border: dotted medium $logo-pink;
}

.post:nth-of-type(3n + 3) {
  background-color: $logo-red;
  color: $yellow-light;
  a {
    color: $yellow-dark;
  }

  .cls-1 {
    stroke: $yellow-dark;
  }
  border: dotted medium $yellow-dark;
}

@media (max-width: 1024px) {
  .news {
    &__hero {
      flex-direction: column;
      position: relative;
      z-index: 3;

      &__picture {
        width: 100%;
        height: 100%;
      }

      &__text {
        position: absolute;
        width: 100%;
        display: grid;
        place-items: center;

        &__wrapper {
          padding: 2em;
          width: auto;
        }
      }

      &__recent_posts {
        display: none;
      }

      &__ornament1 {
        width: 40%;
        height: 40%;

        position: absolute;
        top: 0%;
        left: 20%;
      }

      &__ornament2 {
        width: 60%;
        height: 60%;

        position: absolute;
        bottom: 0%;
        left: 0%;
      }
    }
  }

  .post {
    flex-direction: column;
    height: auto;
    margin: 1rem;

    &__content {
      width: 100%;
      padding: 2em;

      &__ornament {
        display: none;
      }
    }

    &__img {
      width: 100%;
      height: 35vh;
    }
  }

  .post:nth-of-type(2n) {
    flex-direction: column;
  }
}

// @media (min-widht: 1025px) and (max-widht: 1200px) {
//   .news {
//     padding-right: 8%;
//   }
// }
// @media (min-widht: 200px) and (max-widht: 1024px) {
//   .news {
//     padding-right: 0;
//   }
// }
